.nav_menu{
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 101%;
}
h5.hsvi {
    text-decoration: none; margin: 0px; text-align: center;
    padding: 0;            display: flex;
    overflow: hidden;      width: 1ch;
    height: 100%;          line-height: 40px;
    align-items: center;  justify-content: center;
}
.bg_background_img{
    background-attachment:fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardimg{
    height: 18rem; 
    object-fit: cover;
}
@keyframes move1 {
    from {width: 1ch;}
    to {width:100%;}
}